.price-text {
    color: black;
    font-size: 18px;
}

.button-flex {
    padding: 10px;
}

.button {
    background: black;
    color: #AAFF00;
    font-size: 32px;
    border-radius: 50%;
    min-width: 40px;
    margin: 10px;
}
